.menu-item {
    padding: 10px;
    margin: 8px 0;
    background: #f5f5f5;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.menu-item:hover {
    background: #e3f2fd;
}


.top-bar {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.hamburger {
    font-size: 26px;
    cursor: pointer;
    background: #0d47a1;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
}

/* MENU DROPDOWN */
.menu {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    width: 220px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.menu.show {
    display: block;
}

.menu h4 {
    margin-top: 0;
    color: #0d47a1;
    text-align: center;
}

.menu p {
    font-size: 13px;
    margin: 6px 0;
    color: #333;
}

.menu-logout {
    width: 100%;
    margin-top: 10px;
    background: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.menu-logout:hover {
    background: #c0392b;
}



body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd;
}

.dashboard-container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #0d47a1;
}

p {
    text-align: center;
    color: #555;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}

.service-card {
    width: 220px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
}

.service-card:hover {
    background-color: #e3f2fd;
}

.service-card h3 {
    color: #0d47a1;
}

.logout-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;

    background: #e74c3c;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    transition: 0.3s ease;
    z-index: 1000;
}

.logout-btn:hover {
    background: #c0392b;
}
